- if notice
  .alert.alert-success
    %p#notice= notice
%p
  %b Número de comentario:
  = @comment.id
%p
  %b Usuario:
  %span.badge.badge-info= @comment.user.username
%p
  %b Conversacion:
  = link_to @comment.conversation.title, [@comment.conversation.board, @comment.conversation]
.well
  = sanitize(BBCoder.new(@comment.body).to_html.html_safe)
.btn-group
  = link_to 'Editar', edit_comment_path(@comment), class: "btn btn-inverse btn-mini"
  = link_to 'Volver', comments_path, class: "btn btn-mini"