= form_for(Comment.new, url: save_reply_board_conversation_url(board_id: @board, id: @conversation), method: :post) do |f|
  = render 'commons/textarea_tools'
  .field
    = f.text_area :body, class: 'span 8'
  .actions
    = f.submit value: 'Enviar respuesta', class: 'btn btn-primary'
- if params[:action] == 'reply'
  .well
    %p.label.label-inverse Ultimos comentarios:
    - @last_comments.each do |com|
      .well.well-dark
        %strong
          = com.user.username
        dijo:
        = sanitize(sanitizar_bbcode(com.body))
