= form_for(@comment, url: reply_board_conversation_url(board_id: @board, id: @conversation)) do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2
        = pluralize(@comment.errors.count, "error")
        prohibited this reply from being saved:
      %ul
        - comment.errors.full_messages.each do |msg|
          %li= msg
  = render 'commons/textarea_tools'
  .field
    = f.text_area(:body, size: "90x20")
  .actions
    = f.submit(value: "Enviar respuesta")
  %br/
  Ultimos comentarios:
  - @last_comments.each do |com|
    #foros
      %strong
        = com.user.username
      dijo:
      = sanitize(sanitizar_bbcode(com.body))
      %br/
//TODO: comments.conversarion.last_comments(number) y que busque los ultimos number comentarios de la conversacion y los traiga al revez.