.label.label-important
  %h1= "Respuesta para -:#{@conversation.title}:-"
%hr
= link_to 'Panel Principal', boards_path
- unless @board.padre == 1
  - board= Board.find(@board.padre)
  = " > "
  = link_to board.title, board
= " > "
= link_to @board.title, @board
= " > "
= link_to @conversation.title, board_conversation_path(board_id: @conversation.board, id: @conversation)
%br/
%br/
= render 'reply_form'
%br/
%br/
