//TODO: no dividir por primer comentario/otros comentarios pero dejar la diferenciacion de estilos con css algo como css:first style.
- if notice
  .alert.alert-success
    %p#notice= notice
.label.label-important
  %h1= @conversation.title
%hr
= link_to 'Panel Principal', boards_path
- unless @conversation.board.padre == 1
  - board = Board.find(@conversation.board.padre)
  = ">"
  = link_to board.title, board
= ">"
= link_to @conversation.board.title, @conversation.board
%br/
%p= will_paginate @otroscomentarios
.well.red-border= render 'comments/show_comment', comment: @primercomentario
- @otroscomentarios.each do |comment|
  - unless comment == @primercomentario
    .well= render 'comments/show_comment', comment: comment
= link_to 'Responder', reply_board_conversation_url(board_id: @board, id: @conversation), class: 'btn btn-primary'
= "|"
= link_to  @conversation.board.title, @conversation.board
%p= will_paginate @otroscomentarios

.left-action#left-action
  %table.tabla#tabla
    %tr
      %td#form
        = render 'reply_form'
      %td#left-action-toggler
        .vertical-text
          Responder