= form_for(@user) do |f|
  - if @user.errors.any?
    .alert.alert-danger#error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li
            = msg
  .field
    = f.label :username, "Nombre de usuario"
    = f.text_field :username
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password, "Contraseña"
    = f.password_field :password
  .field
    = f.label :password_confirmation, "Confirmacion de la contraseña"
    = f.password_field :password_confirmation
  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :apellido
    = f.text_field :apellido
  .field
    = f.label :fechanac, "Fecha de nacimiento"
    = f.date_select :fechanac, :start_year => 1930, :end_year=> Time.now.year
  .field
    = f.label :numtel, "Numero telefonico"
    = f.text_field :numtel
  .field
    = f.label :pais, "País"
    = f.text_field :pais
  .field
    = f.label :provincia, "Provincia"
    = f.text_field :provincia
  .field
    = f.label :avatar
    = f.text_field :avatar, class: "span8"
  .field
    = f.label :firma
    = render 'commons/textarea_tools'
    = f.text_area :firma, class: "span8"
  .field
    = f.label :pagweb, "Pagina web"
    = f.text_field :pagweb, class: "span8"
  .field
    = f.label :notify_by_email, "Recibir notificaciones por correo"
    = f.check_box :notify_by_email
  %br/
  - if es_administrador
    .field
      = f.label :rango, "Rango"
      = f.text_field :rango
  .actions
    = f.submit value: "Aceptar", class: 'btn btn-primary'