<h1><div id="titulo">Listado de Usuarios</div></h1>
<p id="notice"><%=notice  %></p>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Puntuacion</th>
    <th>Rango</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.username, user %></td>
    <td><%= user.email %></td>
    <td><%= user.puntuacion %></td>
    <td><%= user.rango %></td>
    <td>
      <% if es_administrador %>
        <%= link_to 'Ver', user %>
        <%= link_to 'Editar', edit_user_path(user) %>
        <%= link_to 'Destruir', user, confirm: 'Estas seguro?', method: :delete %>
      <% end %>
        <%= link_to "Enviar mensaje", new_mensajepersonal_url(:destinatario_id => user) unless user==get_usuario%>
    </td>
  </tr>
<% end %>
</table>

<br />