<p id="notice"><%= notice %></p>
<h1><div id="titulo">Perfil de <%= @user.username %></div></h1>
<%= link_to "Enviar mensaje", new_mensajepersonal_url(:destinatario_id => @user) %>
<p>
  <b>Nombre de Usuario:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Nombre:</b>
  <%= @user.nombre %>
</p>
<p>
  <b>Apellido:</b>
  <%= @user.apellido %>
</p>

<p>
  <b>Fecha de nacimiento:</b>
  <%= @user.fechanac %>
</p>

<p>
  <b>Pais:</b>
  <%= @user.pais %>
</p>

<p>
  <b>Provincia:</b>
  <%= @user.provincia %>
</p>

<p>
  <b>Numero telefonico:</b>
  <%= @user.numtel %>
</p>

<p>
  <b>Avatar:</b>
  <img src="<%= @user.avatar %>">
</p>

<p>
  <b>Firma:</b>
  <%= BBCoder.new(@user.firma).to_html.html_safe if @user.firma.present? %>
</p>


<p>
  <b>Pagina web:</b>
  <%= @user.pagweb %>
</p>

<p>
  <b>Recibir notificaciones por correo:</b>
  <%= @user.notify_by_email ? 'Si' : 'No' %>
</p>

<p>
  <b>Puntuacion:</b>
  <%= @user.puntuacion %>
</p>

<p>
  <b>Rango:</b>
  <%= @user.rango %>
</p>

<% if es_administrador || @user==get_usuario %>
    <%= link_to 'Editar', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Pagina Principal', homepage_url %> |
<%= link_to 'Usuarios', users_path %>
