.label.label-important
  %h1 = "Mensajes enviados de #{get_usuario.username}"
- if @enviados.exists?
  %table#foros
    %tr#principal
      %td
      %td
      %td
    - @enviados.each do |mensajepersonal|
      %tr#lineaPm
        %td
          Mensaje:#{link_to normalizar_texto(mensajepersonal.titulo,100), mensajepersonal}
          %br/
          Para:-------:#{mensajepersonal.destinatario.username}:-------:
        %td
          A las: #{mensajepersonal.created_at.to_s(:detallada)}
        %td= link_to 'Eliminar', mensajepersonal, confirm: 'Estás seguro?', method: :delete
    %tr#principal
      %td
      %td
      %td
- else
  Aún no has enviado ningun mensaje.