<h1><div id="titulo">Listado de  mensajes personales</div></h1>

<table id="foros">
  <tr id="principal">
    <th>Remitente</th>
    <th>Destinatario</th>
    <th>Titulo</th>
    <th>Cuerpo</th>
    <th></th>
    <th></th>
  </tr>

<% @mensajepersonals.each do |mensajepersonal| %>
  <tr id="lineaPM">
    <td><%= mensajepersonal.remitente.username %></td>
    <td><%= mensajepersonal.destinatario.username %></td>
    <td><%= mensajepersonal.titulo %></td>
    <td><%= normalizar_texto(mensajepersonal.cuerpo, 40) %></td>
    <td><%= link_to 'Ver', mensajepersonal %></td>
    <td><%= link_to 'Eliminar', mensajepersonal, confirm: 'Estas seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

