.label.label-important
  %h1= "Bandeja de entrada de #{get_usuario.username}"
- if @recibidos.exists?
  %br/
  %table.table.table-bordered.table-no-lr-border
    - @recibidos.each do |mensajepersonal|
      %tr
        %td
          %h3= link_to normalizar_texto(mensajepersonal.titulo,100), mensajepersonal
          De:
          %span.badge.badge-info= mensajepersonal.remitente.username
        %td
          A las: #{mensajepersonal.created_at.to_s(:detallada)}
        %td= link_to 'Eliminar', mensajepersonal, confirm: 'Estás seguro?', method: :delete, class: "btn btn-danger btn-mini"
- else
  Aún no has recibido ningun mensaje.