%h1
  #titulo
    Respuesta para -:
    = @mensajepersonal.titulo
    =":-"

= form_for(@message, :url => reply_mensajepersonal_url(id: @mensajepersonal.id)) do |f|
  -if @message.errors.any?
    #error_explanation
      %h2
        = pluralize(@message.errors.count, "error")
        prohibited this reply from being saved:
      - message.errors.full_messages.each do |msg|
        = msg

  #barrabbcode
    %span.youtube= 'Youtube | '
    %span.imagen= 'Imágen | '
    %span.centrar= 'Centrar | '
    %span.spoiler= 'Spoiler | '
    %span.url= 'URL'
  .field
    = f.text_area(:body, :size => "90x20")
  .actions
    = f.submit(:value => "Enviar respuesta")