<% if get_usuario == @mensajepersonal.remitente || get_usuario == @mensajepersonal.destinatario%>
    <h1><div id="titulo">Mensaje</div></h1>
    <p>
      <b>De:</b>
      <%= @mensajepersonal.remitente.username %>
    </p>

    <p>
      <b>Para:</b>
      <%= @mensajepersonal.destinatario.username %>
    </p>
    <% @messages.each do |message| %><br/>
        <p>
          <b><%= message.user.username %>: </b>
          <div id="cuerpoPM"><%= sanitizar_bbcode(message.body) %></div>
        </p>
    <% end %>


    <%= link_to 'Responder', reply_mensajepersonal_path(:id => @mensajepersonal) %>
    
    <%# form_for @message, :url => reply_mensajepersonal_path(id: @mensajepersonal), :method => :put do |f|%>
        <%#= f.text_area(:body, :size => "90x20")%>
        <%#= f.submit(:value => "Enviar respuesta")%>
    <%# end %>
<% else %>
    <h1><div id="titulo">No tienes acceso a este mensaje</div></h1>
<% end %>

<br/><br/>
<%= link_to 'Mensajes enviados', enviados_path%> |
<%= link_to 'Bandeja de entrada', recibidos_path %>