- if get_usuario == @mensajepersonal.remitente || get_usuario == @mensajepersonal.destinatario
  .label.label-important
    %h1 Mensaje
  %p
    De:
    %span.badge.badge-info= @mensajepersonal.remitente.username
  %p
    Para:
    %span.badge.badge-info= @mensajepersonal.destinatario.username
  -@messages.each do |message|
    %b= "#{message.user.username}: "
    .pull-right= message.created_at.to_s(:detallada)
    .well
      = sanitizar_bbcode(message.body)
  .row-fluid
    .label.label-inverse= render 'commons/textarea_tools'
    = form_for Message.new, :url => {:action => 'save_reply'} do |f|
      = f.text_area :body, class: "input-xxlarge", style: "min-heigth: 75px;"
      = f.submit "Responder", disable_with: "Enviando respuesta...", class: "btn btn-primary"
-else
  .label.label-important
    %h1 No tienes acceso a este mensaje
= link_to 'Mensajes enviados', enviados_path
|
= link_to 'Bandeja de entrada', recibidos_path