%td
  %h4= link_to board.title, board
  %div
    = board.descripcion
  %div
    Categoría:
    = board.categoria
    %br/
  - unless board.conversations.blank?
    - ntemas= board.conversations.length
    - ncoment= -ntemas
    - ultimaconv = board.conversations.sort_by{|c|c.updated_at}.last
    - ultimocomentario = ultimaconv.comments.last
    - board.conversations.each do |conv|
      - ncoment += conv.comments.length
    %td
      = ntemas
      = "/"
      = ncoment
    %td
      = link_to(ultimocomentario.user.username, ultimocomentario.user)
      dijo:
      = normalizar_texto( ultimocomentario.body, 40)
      %br/
      En:
      = link_to ultimaconv.title, board_conversation_path( :board_id => board, :id => ultimaconv) + ultimaconv.ultima_pagina+"#"+ultimocomentario.id.to_s
      %br/
      A las:
      = ultimocomentario.created_at.to_s(:detallada)
  - else
    %td 0/0
    %td Sin comentarios todavia
%td
  - if es_administrador
    = link_to 'Editar', edit_board_path(board), class: "btn btn-inverse btn-mini"
    %br/
    = link_to 'Eliminar', board, confirm: 'Are you sure?', method: :delete, class: "btn btn-danger btn-mini"
    %br/