<%= form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Titulo" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :categoria %><br/>
    <%= f.text_field :categoria %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion, :size=>75 %>
  </div>
  <!--<div class="field">-->
    <%#= f.label :father %>
    <%#= f.select :father, Board.padres.map{|r|[r.title,r.id]}, :prompt => 'Seleccione el directorio raíz' %>
  <!--</div>-->
  <div class="field">
    <%= f.label :padre %><br />
    <%= f.select :padre, Board.padres.map{|r|[r.title,r.id]}, :prompt => 'Seleccione el directorio raíz' %>
  </div>
  <div class="actions">
    <%= f.submit(:value => "Crear foro/subforo") %>
  </div>
<% end %>
