- if notice
  %p#notice= notice
//TODO: ver la logica de padres.
.label.label-important
  %h1= @board.title
%hr
= link_to 'Panel Principal', boards_path
- unless @father.blank?
  = "|"
  = link_to(@father.title, @father)
%br/
%br/
- unless @childrens.blank?
  #forosHijoEnBoardShow
    Subforos:
    - @childrens.each do |h|
      = "|"
      = link_to h.title, h
      |
  %br/

%table.table.table-bordered.table-no-lr-border
  %tr
    %th Tema
    %th Resumen
    %th Comentarios
    %th Ultimo comentario
    %th
  - @board.conversations.each do |conversation|
    %tr{:id => cycle('postPar', 'postImpar')}
      %td
        = link_to conversation.title, board_conversation_path(board_id: @board, id: conversation)
        #creadoPor
          por #{conversation.user.username}
      %td= normalizar_texto(conversation.comments.first.body, 40)
      %td= conversation.comments.length-1
      %td
        - if conversation.comments.length >= 2
          - comm = conversation.comments.last
          = comm.user.username
          dijo:
          = link_to( normalizar_texto(comm.body, 40), board_conversation_path(board_id: @board, id: conversation) + conversation.ultima_pagina + "#" + comm.id.to_s )
          %br/
          A las
          = comm.created_at.to_s(:detallada)
        - else
          Sin respuesta todavia, se el primero en comentar!
      %td
        - if es_administrador
          = link_to 'Destroy', board_conversation_path(conversation.board.id, conversation.id), confirm: 'Estas seguro?', method: :delete
%br/
- if es_administrador
  = link_to 'Editar', edit_board_path(@board), class: "btn btn-inverse"
= link_to 'Nuevo tema', new_board_conversation_url(@board), class: "btn btn-primary"