<!DOCTYPE html>
<html>
<head>
  <title>Foro de cursos del CETEM</title>
  <%= stylesheet_link_tag    "application", rel:"stylesheet", title:"normal" %>
  <!--<%#= stylesheet_link_tag    "applicationBig.css", rel:"alternate stylesheet", title:"big" %>-->
  <link href="http://reproductoranimedake.site90.net/Semidioses5g/RforumBig.css" type="text/css" rel="alternate stylesheet" title="big" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="http://reproductoranimedake.site90.net/Semidioses5g/DynamicSS.js"></script>
  <!--<%#= javascript_include_tag "DynamicSS.js" %>-->
  <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
  <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>

</head>
<script language="JavaScript">
    verificarResolucion()
</script>
<body>
<div id="banner">
  <h1>Foro de cursos del CETEM</h1>
  <div id="logueo">
    <% if current_user %><% @usuario = get_usuario %>
      <%= link_to "Editar perfil", edit_user_path(current_user.id) %>
      <%= link_to "Logout", :logout %>
    <%else%>
      <%= link_to "Registrarse", new_user_path %>
      <%= link_to "Login", :login %>
    <% end %>
  </div>

  <nav id="menu">
  <%= link_to "Foro", boards_path %>
  <%= link_to "Usuarios", users_path %>
  <% if es_administrador %>
    <%= link_to "Comentarios", comments_path %>
  <% end %>
  </nav>
</div>

<div id="ocultador"> Ocultar barra lateral</div>
<div id="izquierda">
    <div id="ultimoscomentarios">
      <span>Últimos comentarios:</span>
      <% ultimoscoments=ultimos_comentarios %>
          <% ultimoscoments.each do |t| %>
            <div id="lineaUltCom"><%= link_to(t.user.username, t.user) %> dijo:
              <%= normalizar_texto(t.body, 40) %><br/>En:
              <%= link_to(t.conversation.title, board_conversation_path(:board_id=>t.conversation.board,
                                                                        :id=>t.conversation)+ultima_pagina(t.conversation)+"#"+t.id.to_s) %>
              <br/>Hace <%= time_ago_in_words(t.created_at) %>
            </div>
          <% end %>
    </div>
</div>


<div id="derecha">
  <% if @usuario %>
  <div id="bloqueUsuario">
      <span><%= @usuario.username %></span><br/><br>
      <img src="<%= @usuario.avatar.html_safe if @usuario.avatar.present? %>"><br/><br/>
      <%= @usuario.rango %><br/>
      Comentarios: <%= @usuario.comments.count %><br/>
      Registrado: <%= @usuario.created_at.to_s(:simple) %><br/><br/>
      <%= link_to 'Bandeja de entrada', recibidos_path %> (<%= User.recibidosnuevos(@usuario) %>)<br/>
      <%= link_to 'Mensajes enviados', enviados_path%> <br/><br/>

  </div><br/>
      <form>
        <input type="submit"
          onclick="switch_style('normal');return false;"
          name="theme" value="1280*1024" id="application">
        <input type="submit"
          onclick="switch_style('big');return false;"
          name="theme" value="1920*1080" id="applicationBig">
      </form>
  <% end %>
</div>

<div id="centro">
  <%= yield %>
<footer>
<p><a name="fondo">RForum plataforma de foros de codigo abierto y personalizable. Contacto: lucaslockon@gmail.com</a></p>
</footer>
</div>
</body>
</html>
