!!!
%html
  %head
    %title
      Foro de cursos del CETEM
    = stylesheet_link_tag    "application", rel:"stylesheet", title:"normal"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:src => "http://code.jquery.com/jquery-latest.js", :type => "text/javascript"}
    %script{:src => "http://js.nicedit.com/nicEdit-latest.js", :type => "text/javascript"}
    :javascript
      bkLib.onDomLoaded(nicEditors.allTextAreas);
  %body.body
    .navbar.navbar-fixed-top
      .navbar-inner
        .pull-left.offset1
          %h1 Foro de cursos del CETEM
        .nav.btn-toolbar
          .btn-group
            = link_to "Foro", boards_path, class: "btn btn-inverse"
            = link_to "Usuarios", users_path, class: "btn btn-inverse"
            - if es_administrador
              = link_to "Comentarios", comments_path, class: "btn btn-inverse"
              = link_to "Mensajes personales", mensajepersonals_path, class: "btn btn-inverse"
        .pull-right
          .nav.btn-toolbar
            .btn-group
              - if current_user
                - @usuario = get_usuario
                = link_to "Editar perfil", edit_user_path(current_user.id), class: "btn btn-inverse"
                = link_to "Logout", :logout, class: "btn btn-danger"
              - else
                = link_to "Registrarse", new_user_path, class: "btn btn-primary"
                = link_to "Login", :login, class: "btn btn-inverse"
    .container-fluid
      .row-fluid
        .span2
          = render 'commons/user_area'
        .span7{style: "background: url('http://i264.photobucket.com/albums/ii190/zeropetroquimico/Foro%20semidioses/fondoc.png') repeat ; padding: 10px;"}
          = yield
          %footer.pull-right
            %p
              %a{:name => "fondo"}
                RForum plataforma de foros de codigo abierto y personalizable. Contacto: lucaslockon@gmail.com
        .span2
          #ocultador.btn.btn-inverse.btn-small
            Ocultar barra lateral
          #izquierda= render 'commons/last_comments'